PORT=4000
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/machefunded?schema=public"
SUPABASE_URL="https://cbazhstvseeiutdxqvvr.supabase.co"
SUPABASE_JWKS_URL="https://cbazhstvseeiutdxqvvr.supabase.co/auth/v1/keys"