APP_NAME=NairaTrader Backend
APP_ENV=development
APP_HOST=0.0.0.0
APP_PORT=5500
BACKEND_CORS_ORIGINS=http://localhost:3002,http://127.0.0.1:3002,http://localhost:5173,http://127.0.0.1:5173
DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost:5432/nairatrader
DESCOPE_PROJECT_ID=P39qb2GdQ01oJ8ciXiq3s7qt2xsJ
DESCOPE_DISCOVERY_URL=https://api.descope.com/P39qb2GdQ01oJ8ciXiq3s7qt2xsJ/.well-known/openid-configuration
DESCOPE_JWKS_URL=
DESCOPE_ISSUER=
DESCOPE_AUDIENCE=P39qb2GdQ01oJ8ciXiq3s7qt2xsJ
